{:paths ["src" "test"]

 :tasks {test {:requires ([clojure.test :as t]
                          [jordibc.geometric-algebra-test])
               :task (t/run-tests 'jordibc.geometric-algebra-test)}
         calc {:requires ([jordibc.calculator :as calc]
                          [sci.core :as sci])
               :task (calc/calc *command-line-args*)}}}
